MangaService.Test/Service References/TTTService/TruyenTranhTuanMangaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TruyenTranhTuanMangaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18883/TruyenTranhTuanMangaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18883/TruyenTranhTuanMangaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18883/TruyenTranhTuanMangaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MangaService.Model" />
      <xsd:import schemaLocation="http://localhost:18883/TruyenTranhTuanMangaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMangaService_LoadMoreMangaFast_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMoreMangaFast" />
  </wsdl:message>
  <wsdl:message name="IMangaService_LoadMoreMangaFast_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMoreMangaFastResponse" />
  </wsdl:message>
  <wsdl:message name="IMangaService_LoadMoreManga_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadMoreManga" />
  </wsdl:message>
  <wsdl:message name="IMangaService_LoadMoreManga_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadMoreMangaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMangaService">
    <wsdl:operation name="LoadMoreMangaFast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMangaService/LoadMoreMangaFast" message="tns:IMangaService_LoadMoreMangaFast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMangaService/LoadMoreMangaFastResponse" message="tns:IMangaService_LoadMoreMangaFast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadMoreManga">
      <wsdl:input wsaw:Action="http://tempuri.org/IMangaService/LoadMoreManga" message="tns:IMangaService_LoadMoreManga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMangaService/LoadMoreMangaResponse" message="tns:IMangaService_LoadMoreManga_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMangaService" type="tns:IMangaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadMoreMangaFast">
      <soap:operation soapAction="http://tempuri.org/IMangaService/LoadMoreMangaFast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMoreManga">
      <soap:operation soapAction="http://tempuri.org/IMangaService/LoadMoreManga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TruyenTranhTuanMangaService">
    <wsdl:port name="BasicHttpBinding_IMangaService" binding="tns:BasicHttpBinding_IMangaService">
      <soap:address location="http://localhost:18883/TruyenTranhTuanMangaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>