MangaService.Test/Service References/TTTService/TruyenTranhTuanMangaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18883/TruyenTranhTuanMangaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MangaService.Model" />
  <xs:element name="LoadMoreMangaFast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MangaService.Model" minOccurs="0" name="category" type="q1:Category" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMoreMangaFastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MangaService.Model" minOccurs="0" name="LoadMoreMangaFastResult" nillable="true" type="q2:ArrayOfManga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMoreManga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MangaService.Model" minOccurs="0" name="category" type="q3:Category" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMoreMangaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MangaService.Model" minOccurs="0" name="LoadMoreMangaResult" nillable="true" type="q4:ArrayOfManga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>